/*styles for home content only*/
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.boxv {
  display: flex;
  flex-flow: row;
  height: 100%;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
}

.box .row {
  /*border: 1px dotted grey;*/
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
  overflow-y: auto;
}

.box .row.footer {
  flex: 0 1 40px;
}