body {
    padding-top: 70px;
}
/*InvetoryManager*/

.pointerCursor {
    cursor: pointer;    
}

.searchResultsBody {
    padding: 0px;
    height: 440px;
    overflow-y: auto;
}

.searchResultsItem {
    padding: 0px;
    cursor: pointer;
}

.searchResultsItem:hover,
.action:hover {
    color: #f22;
}

.searchResultsItem:hover .card {
    /*opacity: 0.4;*/
    background-color: #777;
}

.searchResultsItemTitle {
    vertical-align: middle;
    display: inline-block;
    max-width: 85%;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cardFrame {
    margin: 0px;
    padding: 2px;
}

.cardFrame .card-header {
    padding: 5px;
}

.expansionFrame {
    width: 100%;
    padding: 5px;
    border-right: 1px solid #ccc !important;
}

.actionOverlay {
    display: flex;
    align-items: center;
}

.cardQtdLabel {
    color: #fff;
    font-size: 55px;
    font-weight: bold;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    -webkit-text-stroke: 3px #333;
}

.cardDetails {
    margin-top: -55px;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

.show50 {
    opacity: 0.5;
}

.searchResultsItem:hover .hide {
    opacity: 1;
}
/*.actionPanel {}*/

.searchResultsImg {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 310px;
    /*width: 223px;*/
}

.updateActionFrame {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 2px;
    height: 69px;
    overflow-y: auto;
    padding-right: 0px;
}

.updateItemFrame {
    padding: 0px;
    margin: 0px;
    padding-right: 2px;
}

.updateItemBtn {
    width: 100%;
    padding: 2px;
}

.updateItemBtn:hover .fa {
    color: #fff;
}

.updateItem {
    vertical-align: middle;
    display: inline-block;
    max-width: 75%;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.parameterInputTop {
    padding: 0px 5px 0px 0px;
    margin: 0px;
}

.parameterInput {
    padding: 5px 5px 0px 0px;
    margin: 0px;
}

.expansionDropDown {
    max-height: 400px;
    overflow-y: auto;
}

.parameterExpansion {
    float: none !important;
}

.imageBtn {
    padding: 3px 16px 2px 16px;
}
/*DeckManager*/

.nameInput {
    padding: 0px 5px 0px 0px;
    margin: 0px;
}

.updateDeckBtn {
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

.searchResultsDeckImg {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 230px;
    /*width: 223px;*/
}

.cardDetailsDeck {
    margin-top: 0px;
}

.actionColumn {
    padding: 0px;
    margin: 0px;
}

.searchResultsBodyDeck {
    padding: 0px;
    height: 514px;
    overflow-y: auto;
}

.expansionName,
.expansionNameSelect {
    vertical-align: middle;
    white-space: nowrap;
}

.expansionName {
    display: inline-block;
    text-overflow: ellipsis;
    width: 85%;
    overflow: hidden;
}

.expansionImage,
.expansionImageSelect {
    height: 18px;
    vertical-align: middle;
}

.expansionImageRemoveSelect {
    vertical-align: middle;
    font-size: 20px;
}


.searchResultsItemTitle {
    pading: 5px;
    font-size: 14px;
    max-width: 78%;
}

.idDeckInput {
    padding-left: 0px;
    padding-right: 5px;
}

.nameInput {
    padding-left: 5px;
    padding-right: 5px;
}

.ng-valid[required] {
    border-left: 3px solid #0f0; /* green */
}
.ng-invalid {
    border-left: 3px solid #f00; /* red */
}