html, body {
  height: 100%;
  margin: 0
}

body {
    padding-top: 70px;
}
/*InvetoryManager*/

.pointerCursor {
    cursor: pointer;    
}

.searchResultsBody {
    padding: 0px;
    /*height: 440px;
    overflow-y: auto;*/
}

.searchResultsItem {
    padding: 0px;
    cursor: pointer;
}

.searchResultsItem:hover,
.action:hover {
    color: #f22;
}

.searchResultsItem:hover .card {
    /*opacity: 0.4;*/
    background-color: #777;
}

.searchResultsItemTitle {
    vertical-align: middle;
    display: inline-block;
    max-width: 85%;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cardFrame {
    margin: 0px;
    padding: 2px;
}

.cardFrame .card-header {
    padding: 5px;
}

.card-pop-header {
    padding: 0.25rem 1.0rem;
}

.ct-label {
  color: #000;
  fill: rgba(0,0,0,.8);
  font-weight: bold;
  font-size: 12px;
}

.ct-series-a .ct-bar {
    stroke-width: 30px;
    stroke: rgba(100, 50, 255, 1);
}

.ct-series-a .ct-slice-pie {
    fill: rgba(255, 10, 10, 1);
}
.ct-series-b .ct-slice-pie {
    fill: rgba(10, 255, 10, 1);
}
.ct-series-c .ct-slice-pie {
    fill: rgba(100, 50, 255, 1);
}
.ct-series-d .ct-slice-pie {
    fill: rgba(255, 255, 0, 1);
}
.ct-series-e .ct-slice-pie {
    fill: rgba(0, 255, 255, 1);
}
.ct-series-f .ct-slice-pie {
    fill: rgba(255, 100, 255, 1);
}
.ct-series-g .ct-slice-pie {
    fill: rgba(255, 110, 30, 1);
}

.char-label-vertical .ct-label {
    font-weight: bold;
    /*-webkit-transform: rotate(-90deg);*/
}

.expansionFrame {
    width: 100%;
    padding: 5px;
    border-right: 1px solid #ccc !important;
}

.actionOverlay {
    display: flex;
    align-items: center;
}

.cardQtdLabel {
    color: #fff;
    font-size: 55px;
    font-weight: bold;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    -webkit-text-stroke: 3px #333;
}

.cardDetails {
    margin: auto;
    width: 90%;
    /*margin-top: 0px;*/
}


.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

.show50 {
    opacity: 0.5;
}

.searchResultsItem:hover .hide {
    opacity: 1;
}
/*.actionPanel {}*/

.searchResultsImg {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 310px;
    /*width: 223px;*/
}

.updateActionFrame {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 2px;
    height: 59px;
    overflow-y: auto;
    padding-right: 0px;
}

.updateItemFrame {
    padding: 0px;
    margin: 0px;
    padding-right: 2px;
}

.updateItemBtn {
    width: 100%;
    padding: 2px;
}

.updateItemBtn:hover .fa {
    color: #fff;
}

.updateItem {
    vertical-align: middle;
    display: inline-block;
    max-width: 75%;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.parameterInputTop {
    padding: 0px 5px 0px 0px;
    margin: 0px;
}

.parameterInput {
    padding: 5px 5px 0px 0px;
    margin: 0px;
}

.expansionDropDown {
    max-height: 400px;
    overflow-y: auto;
}

.parameterExpansion {
    float: none !important;
    padding: 3px 3px 2px 4px !important;
}

.imageBtn {
    padding: 3px 16px 2px 16px;
}
/*DeckManager*/

.deckIntellisense {
    max-width: 355px;
    max-height: 400px;
    overflow-y: auto;
}

.nameInput {
    padding: 0px 5px 0px 0px;
    margin: 0px;
}

.updateDeckBtn {
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

.searchResultsDeckImg {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 230px;
    /*width: 223px;*/
}

.card-img-lg {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 311px;
    /*width: 223px;*/
}

.cardDetailsDeck {
    margin-top: 0px;
}

.actionColumn {
    padding: 0px;
    margin: 0px;
}

.searchResultsBodyDeck {
    padding: 0px;
    /*height: 514px;
    overflow-y: auto;*/
}

.expansionName,
.expansionNameSelect {
    vertical-align: middle;
    white-space: nowrap;
}

.expansionName {
    display: inline-block;
    text-overflow: ellipsis;
    width: 85%;
    overflow: hidden;
}

.expansionImage,
.expansionImageSelect {
    height: 16px;
    vertical-align: middle;
}

.expansionImageRemoveSelect {
    vertical-align: middle;
    font-size: 20px;
}


.searchResultsItemTitle {
    pading: 5px;
    font-size: 14px;
    max-width: 78%;
}

.idDeckInput {
    padding-left: 0px;
    padding-right: 5px;
}

.nameInput {
    padding-left: 5px;
    padding-right: 5px;
}

.ng-valid[required] {
    border-left: 3px solid #0f0; /* green */
}
.ng-invalid {
    border-left: 3px solid #f00; /* red */
}