<div class="container-fluid boxv">
    <div class="col-xs-6 box">
        <div class="row header">
            <card-finder [showResults]="false" (onResult)="logFindResult($event)" (onNewPageResult)="logFindNewPageResult($event)">
            </card-finder>
        </div>
        <div class="row content">
            <div class="searchResultsBody col-xs-12" style="padding: 0px;">
                <div class="searchResultsItem col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngFor="let searchItem of model.searchResults">
                    <div class="cardFrame card text-xs-center">
                        <div class="card-header text-xs-center">
                            <span class="searchResultsItemTitle"><strong>{{searchItem.name}}</strong></span>
                            <img src="/api/assets/{{searchItem.expansion.idAsset}}" style="height: 18px; vertical-align: middle;" />
                        </div>
                        <img class="card-img searchResultsDeckImg" src="/api/assets/{{searchItem.idAsset}}" [class.show50]="searchItem.inventoryCard.quantity <= 0"
                        />
                        <img class="card-img" ngShow="false" ngSrc="/web/app/assets/images/magic_card.jpg" />
                        <div class="actionOverlay card-img-overlay">
                            <div class="cardDetailsDeck center-block">
                                <div class="cardQtdLabel" [class.text-warning]="isChangedCardQuantity(searchItem)" [class.text-danger]="getCardQuantity(searchItem) <= 0">
                                    {{getCardQuantity(searchItem)}}</div>
                                <div class="actionPanel hide">
                                    <button class="action btn btn-secondary" (click)="removeCard(searchItem)">
                                        <i class="fa fa-minus-circle"></i>
                                    </button>
                                    <button class="action btn btn-secondary" (click)="addCard(searchItem)">
                                        <i class="fa fa-plus-circle"></i>
                                    </button>
                                    <button class="action btn btn-secondary" (click)="showCard(searchItem)">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 box">
        <div class="row header">
            <form #getDeck="ngForm" (ngSubmit)="find()">
                <div class="col-xs-2" style="padding: 0px;">
                    <div class="idDeckInput input-group input-group-sm">
                        <input #idDeck required ngControl="idDeck" name="idDeck" [(ngModel)]="deck.id" class="form-control" placeholder="#" type="text"
                        />
                    </div>
                </div>
                <div class="col-xs-1 actionColumn parameterInputTop">
                    <div class="pull-right">
                        <div class="updateDeckBtn btn-group">
                            <button type="submit" [disabled]="!getDeck.form.valid" class="imageBtn btn btn-secondary">
                                <i class="fa fa-folder-open" *ngIf="!model.getting"></i>
                                <i class="fa fa-circle-o-notch fa-spin" *ngIf="model.getting"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <form #postDeck="ngForm" (ngSubmit)="update()">
                <div class="col-xs-7" style="padding: 0px; padding-left: 0px;">
                    <div class="nameInput input-group input-group-sm">
                        <div class="input-group-btn" [class.open]="model.decks?.length > 0">
                            <button #deckSearck disabled type="button" class="btn input-group-addon dropdown-toggle" style="width: 100%;" data-toggle="dropdown"
                                aria-haspopup="true" (aria-expanded)="model.decks?.length > 0">
                            </button>
                            <div #deckIntellisense class="deckIntellisense dropdown-menu" style="width: 400px;" aria-labelledby="deckSearck">
                                <a class="pointerCursor dropdown-item" [class.disabled]="model.deck?.id != undefined" (click)=selectDeck(deck) *ngFor="let deck of model.decks">
                                    <span class="deckIntellisenseSelect"><strong>{{deck.id}} - {{deck.name}}</strong></span>
                                </a>
                            </div>
                        </div>
                        <input #deckName required (ngControl)="deckName" name="deckName" [(ngModel)]="deck.name" (keydown)="analyseDeckName($event)"
                            (focus)="clearDecks()" class="form-control" placeholder="Deck Name" type="text" />
                    </div>
                </div>
                <div class="col-xs-1 actionColumn parameterInputTop">
                    <div class="updateDeckBtn btn-group">
                        <!--<button type="submit" [disabled]="!postDeck.form.valid" class="imageBtn btn btn-secondary">-->
                        <button type="submit" class="imageBtn btn btn-secondary">
                            <i class="fa fa-play-circle-o" *ngIf="!model.updating"></i>
                            <i class="fa fa-circle-o-notch fa-spin" *ngIf="model.updating"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="searchResultsHead btn-group" role="group" style="margin-top: 5px; margin-bottom: 5px;">
                <button type="button" class="btn btn-outline-primary" style="pading: 5px; font-size: 12px;" [class.active]="model.selectedBoard == 1"
                    *ngIf="deck.cards != undefined" (click)="model.selectedBoard = 1">
                    Main <span class="badge">{{calculateMainCardsSize() + "/" + (deck.cards | filter:"deckCard.idBoard":1).length}}</span>
                </button>
                <button type="button" class="btn btn-outline-info" style="pading: 5px; font-size: 12px;" [class.active]="model.selectedBoard == 2"
                    *ngIf="deck.cards != undefined" (click)="model.selectedBoard = 2">
                    Side <span class="badge">{{calculateSideCardsSize() + "/" + (deck.cards | filter:"deckCard.idBoard":2).length}}</span>
                </button>
            </div>
        </div>
        <div class="row content">
            <div class="searchResultsBodyDeck col-xs-12" style="padding: 0px;">
                <div class="searchResultsItem col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngFor="let deckItem of deck.cards | filter:'deckCard.idBoard':model.selectedBoard">
                    <div class="cardFrame card text-xs-center">
                        <div class="card-header text-xs-center">
                            <span class="searchResultsItemTitle"><strong>{{deckItem.name}}</strong></span>
                            <img src="/api/assets/{{deckItem.expansion.idAsset}}" style="height: 18px; vertical-align: middle;" />
                        </div>
                        <img class="card-img searchResultsDeckImg" src="/api/assets/{{deckItem.idAsset}}" [class.show50]="deckItem.deckCard.quantity <= 0"
                        />
                        <img class="card-img" ngShow="false" ngSrc="/web/app/assets/images/magic_card.jpg" />
                        <div class="actionOverlay card-img-overlay">
                            <div class="cardDetailsDeck center-block">
                                <div class="cardQtdLabel" [class.text-danger]="deckItem.inventoryCard.quantity <= 0" [class.text-success]="deckItem.deckCard.quantity > 0 && deckItem.inventoryCard.quantity >= deckItem.deckCard.quantity"
                                    [class.text-warning]="deckItem.inventoryCard.quantity > 0 && deckItem.inventoryCard.quantity < deckItem.deckCard.quantity">
                                    {{getDeckItemLabel(deckItem)}}</div>
                                <div class="actionPanel hide">
                                    <button class="action btn btn-secondary" (click)="removeCard(deckItem)">
                                        <i class="fa fa-minus-circle"></i>
                                    </button>
                                    <button class="action btn btn-secondary" (click)="addCard(deckItem)">
                                        <i class="fa fa-plus-circle"></i>
                                    </button>
                                    <button class="action btn btn-secondary" (click)="removeDeckItem(deckItem)">
                                        <i class="fa fa-times-circle"></i>
                                    </button>
                                    <button class="action btn btn-secondary" (click)="showCard(deckItem)">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>