<div class="container-fluid boxv">
    <div class="col-xs-6 box">
        <div class="row header">
            <card-finder [showResults]="false" (onResult)="logFindResult($event)" (onNewPageResult)="logFindNewPageResult($event)">
            </card-finder>
        </div>
        <div class="row content">
            <div class="searchResultsBody col-xs-12" style="padding: 0px;">
                <card *ngFor="let searchItem of model.searchResults" 
                      [label]="getCardQuantity(searchItem)"
                      [increaseOn]="true" [decreaseOn]="true"
                      (onDecrease)="removeCard($event)" (onIncrease)="addCard($event)" 
                      [card]="searchItem">
                </card>
            </div>
        </div>
    </div>
    <div class="col-xs-6 box">
        <div class="row header">
            <div class="col-xs-2" style="padding: 0px;">
                <div class="idDeckInput input-group input-group-sm">
                    <input #idDeck ngControl="idDeck" name="idDeck" [(ngModel)]="deck.id" class="form-control" placeholder="#" type="text" />
                </div>
            </div>
            <form #postDeck="ngForm" (ngSubmit)="update()">
                <div class="col-xs-7" style="padding: 0px; ">
                    <div class="nameInput input-group input-group-sm">
                        <div class="input-group-btn">
                            <button #deckSearck id="deckSearck" type="button" class="btn input-group-addon dropdown-toggle" style="width: 100%;" 
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="list('')">
                            </button>
                            <div #deckIntellisense id="deckIntellisense" class="deckIntellisense dropdown-menu" aria-labelledby="deckSearck">
                                <h6 class="dropdown-header">Deck Name ~ {{model.deckSearchRx}}</h6>
                                <!--<a class="pointerCursor dropdown-item" (click)=closeDeck()>
                                    <i class="fa fa-close text-muted expansionImageRemoveSelect"></i>
                                    <span class="expansionNameSelect"><strong>Close Deck</strong></span>
                                </a>-->
                                <a class="pointerCursor dropdown-item" (click)=selectDeck(deck) *ngFor="let deck of model.decks">
                                    <span class="deckIntellisenseSelect"><strong>{{deck.id}} - {{deck.name}}</strong></span>
                                </a>
                            </div>
                        </div>
                        <input #deckName required (ngControl)="deckName" name="deckName" [(ngModel)]="deck.name" (keydown)="analyseDeckName($event)" 
                               class="form-control" placeholder="Deck Name" type="text" />
                    </div>
                </div>
                <div class="col-xs-3 actionColumn parameterInputTop">
                    <button type="button" (click)="find()" [disabled]="(deck?.id == undefined || deck?.id == '') && (deck?.name == undefined || deck?.name == '')" class="imageBtn btn btn-secondary">
                        <i class="fa fa-folder-open" *ngIf="!model.getting"></i>
                        <i class="fa fa-circle-o-notch fa-spin" *ngIf="model.getting"></i>
                    </button>
                    <div class="updateDeckBtn btn-group">
                        <button type="submit" [disabled]="!postDeck.form.valid" class="imageBtn btn btn-secondary">
                            <i class="fa fa-play-circle-o" *ngIf="!model.updating"></i>
                            <i class="fa fa-circle-o-notch fa-spin" *ngIf="model.updating"></i>
                        </button>
                        <button type="button" [disabled]="deck?.id == undefined || deck?.id == ''" class="btn btn-secondary btn-sm dropdown-toggle" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" (click)="copyDeck()">Copy as New</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" (click)="closeDeck()">Close</a>
                        </div>
                    </div>
                </div>
            </form>
            <div class="searchResultsHead btn-group" role="group" style="margin-top: 5px; margin-bottom: 5px;">
                <button type="button" class="btn btn-outline-primary" style="pading: 5px; font-size: 12px;" [class.active]="model.selectedBoard == 1"
                    *ngIf="deck.cards != undefined" (click)="model.selectedBoard = 1">
                    Main <span class="badge">{{calculateMainCardsSize() + "/" + (deck.cards | filter:"deckCard.idBoard":1).length}}</span>
                </button>
                <button type="button" class="btn btn-outline-info" style="pading: 5px; font-size: 12px;" [class.active]="model.selectedBoard == 2"
                    *ngIf="deck.cards != undefined" (click)="model.selectedBoard = 2">
                    Side <span class="badge">{{calculateSideCardsSize() + "/" + (deck.cards | filter:"deckCard.idBoard":2).length}}</span>
                </button>
                <button type="button" class="btn btn-outline-warning" style="pading: 5px; font-size: 12px;" [class.active]="model.selectedBoard == 3" 
                    *ngIf="deck.cards != undefined" (click)="model.selectedBoard = 3">
                    <i class="fa fa-line-chart"></i>
                </button>
            </div>
        </div>
        <div class="row content">
            <div class="searchResultsBodyDeck col-xs-12" style="padding: 0px;" *ngIf="model.selectedBoard == 1 || model.selectedBoard == 2">
                <card *ngFor="let deckItem of deck.cards | filter:'deckCard.idBoard':model.selectedBoard" 
                      [decreaseOn]="true" [increaseOn]="true" [removeOn]="true" [changeBoardOn]="true"
                      (onDecrease)="removeCard($event)" (onIncrease)="addCard($event)" 
                      (onRemove)="removeDeckItem($event)" (onChangeBoard)="changeBoard($event)"
                      [card]="deckItem">
                </card>
            </div>
            <div class="deckStatsPanel col-xs-12" style="padding: 0px;" *ngIf="model.selectedBoard == 3">
                My Graphic lkkkkkk!!!
            </div>
        </div>
    </div>
</div>