<div class="container-fluid boxv">
  <div class="col-xs-6 box">
    <div class="row header">
      <p><b>header</b>
        <br />
        <br />(sized to content 1)
        <br />(sized to content 2)
        <br />(sized to content 3)
        <br />(sized to content 5)
      </p>
    </div>
    <div class="row content">
      <p>
        <b>content</b> (fills remaining space)
      </p>
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
      <img class="card-img searchResultsImg" src="/api/assets/10676" />
    </div>
    <div class="row footer">
      <p><b>footer</b> (fixed height)</p>
    </div>
  </div>
  <div class="col-xs-6 box">
    <div class="row header">
      <p><b>header</b>
        <br />
        <br />(sized to content)</p>
    </div>
    <div class="row content">
      <p>
        <b>content</b> (fills remaining space)
      </p>
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
      <img class="card-img searchResultsImg" src="/api/assets/1093" />
    </div>
    <div class="row footer">
      <p><b>footer</b> (fixed height)</p>
    </div>
  </div>
</div>